/*---------------------------------------------*/
/* Get In Touch
/*---------------------------------------------*/
.contact {
	overflow: hidden;
}

.contact-methods {
	padding: 0;
	color: #525252;
	font-size: 1.375rem;
	letter-spacing: 0.03em;
	text-align: center;
}

.contact-methods .options {
	display: table;
	width: 100%;
	height: 500px;
	min-height: 450px;
	margin-top: 0;
	padding: 20px 20px 20px 20px;
	background: #0965DA;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.contact-methods .options-content {
	display: table-cell;
	vertical-align: middle;
}

.contact-methods .subtitle {
	padding: 0 0 11px 0;
	color: #fff;
	font-family: "apercu_mono";
	font-size: 1.875rem;
	font-weight: 400;
	letter-spacing: -1px;
}

.contact-methods a {
	color: #7ff6d1;
	text-decoration: none;
}

.contact-methods .details {
	padding: 0 0 31px 0;
}

.contact-methods .details li {
	display: block;
	padding: 0 0 12px 0;
}

.contact-methods .details a {
	display: inline-block;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.contact-methods .details a:hover {
	opacity: 0.7;
}

.contact-methods .icon {
	display: inline-block;
	width: 22px;
	height: 20px;
}
.contact-methods .phone {
	padding-right: 2px;
	-ms-transform: translateY(1px);
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}
.contact-methods .email {
	padding-right: 9px;
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
}

.contact-methods .social {
	padding: 16px 0 0 0;
	list-style: none;
}

.contact-methods .social li {
	display: inline-block;
}

.contact-methods .social a {
	display: inline-block;
	width: 43px;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.contact-methods .social a:hover {
	opacity: 0.7;
}

.contact-methods .social .icon {
	display: inline-block;
	text-align: center;
}

@media (max-width: 500px),
(max-height: 400px) {
	.contact-methods {
		font-size: 1rem;
		letter-spacing: 0.05em;
	}

	.contact-methods .options {
		padding: 46px 20px 46px 20px;
		min-height: 400px;
	}

	.contact-methods .subtitle {
		padding-bottom: 9px;
		font-size: 1.375rem;
	}

	.contact-methods .details li {
		padding-bottom: 5px;
	}

	.contact-methods .icon {
		width: 18px;
		height: 18px;
	}

	.contact-methods .email {
		padding-right: 1px;
	}

	.contact-methods .details {
		padding-bottom: 20px;
	}

	.contact-methods .social {
		padding-bottom: 0;
	}

	.contact-methods .social a {
		width: 50px;
	}

	.contact-methods .social .facebook .icon {
		width: 20px;
	}
	.contact-methods .social .twitter .icon {
		width: 22px;
	}
	.contact-methods .social .linkedin .icon {
		width: 22px;
	}
	.contact-methods .social .instagram .icon {
		width: 20px;
	}
}

/*---------------------------------------------*/
/* Map / Panel
/*---------------------------------------------*/
.contact .studio {
	position: relative;
	display: table;
	width: 100%;
}

.contact .map {
	position: absolute;
	left: 0;
	right: 50%;
	top: 0;
	bottom: 0;
	vertical-align: middle;
}

.contact .map .marker {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 66px;
	height: 66px;
	border: 3px solid #0c54d9;
	border-radius: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.contact .map .marker:before,
.contact .map .marker:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.contact .map .marker:before {
	width: 24px;
	height: 24px;
	border: 3px solid #0c54d9;
}
.contact .map .marker:after {
	width: 14px;
	height: 14px;
	background: #0c54d9;
}

.contact .directions {
	display: table-cell;
	width: 50%;
	padding: 7.6712328767123287671232876712329%;
	vertical-align: middle;
	color: #525252;
	font-size: 1.375rem;
	line-height: 1.563em;
	letter-spacing: 0.02em;
}

.contact .directions .title {
	padding: 0 0 16px 0;
	color: #0965da;
	font-family: "apercu_mono";
	font-size: 1.875rem;
	font-weight: 400;
	letter-spacing: -1px;
}

.contact .address {
	padding: 0 0 60px 0;
}

.contact .address span {
	display: block;
}

.contact .address .p-locality,
.contact .address .p-postal-code {
	display: inline;
}

.contact .directions a {
	display: inline-block;
	color: #525252;
	text-decoration: underline;
}
.contact .directions span {
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.contact .directions a:hover span {
	opacity: 0.6;
}

.contact .starting-points {
	list-style: none;
}

.contact .starting-points li {
	position: relative;
	padding: 0 0 13px 42px;
}
.contact .starting-points li.get-directions {
	padding-bottom: 0;
}

.contact .starting-points li:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 6px;
	width: 17px;
	height: 17px;
	border: 3px solid #ff0000;
	border-radius: 50%;
}
.contact .starting-points li.overground:before {
	border-color: #f8a006;
}

.contact .starting-points li:after {
	content: "";
	display: block;
	position: absolute;
	left: -4px;
	top: 17px;
	margin-top: -1px;
	width: 30px;
	height: 3px;
	background: #00deff;
	border-radius: 2px;
}
.contact .starting-points li.bus:after {
	background: #ff0000;
}

.contact .starting-points li.get-directions:before,
.contact .starting-points li.get-directions:after {
	left: 0;
	top: 12px;
	width: 11px;
	height: 1px;
	margin: 0;
	border: 1px solid #00deff;
	border-radius: 2px;
	background: #00deff;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.contact .starting-points li.get-directions:after {
	top: 20px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.contact .starting-points li.get-directions a:before,
.contact .starting-points li.get-directions a:after {
	content: "";
	position: absolute;
	display: block;
	left: 12px;
	top: 12px;
	width: 11px;
	height: 1px;
	margin: 0;
	border: 1px solid #0965da;
	border-radius: 2px;
	background: #0965da;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.contact .starting-points li.get-directions a:after {
	top: 20px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.contact .js-zoom-controls {
	position: absolute;
	text-align: center;
	margin-right: 30px;
	margin-bottom: 30px;
}

.contact .js-zoom-button {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: #0C54D9;
	-webkit-transition: background 0.2s linear;
	transition: background 0.2s linear;
}
.contact .js-zoom-button:hover {
	background: #7FF6D1;
}

.contact .js-zoom-button.zoom-in {
	border-radius: 3px 3px 0 0;
}
.contact .js-zoom-button.zoom-out {
	border-radius: 0 0 3px 3px;
}

.contact .js-zoom-button:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 3px;
	background: #fff;
	border-radius: 2px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.contact .js-zoom-button.zoom-in:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px;
	height: 13px;
	background: #fff;
	border-radius: 2px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.contact .starting-points li.get-directions {
	position: relative;
}

@media (max-width: 1500px) {
	.contact .starting-points li.get-directions {
		margin-bottom: 44px;
	}
}

@media (max-width: 700px) {
	.contact .starting-points li.get-directions {
		margin-bottom: 64px;
	}
}

.contact .directions-bubble {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-width: 285px;
	margin-top: 25px;
	padding: 5px;
	opacity: 0;
	visibility: hidden;
	border-radius: 4px;
	background: #0c54d9;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background 0.2s linear, opacity 0.2s linear;
	transition: background 0.2s linear, opacity 0.2s linear;
}
.contact .directions-bubble.active {
	opacity: 1;
	visibility: visible;
}
.contact .directions-bubble.error {
	background: #ff0000;
}

.contact .directions-bubble:before {
	position: absolute;
	bottom: 100%;
	left: 30%;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-bottom: #0c54d9 solid 12px;
	border-left: transparent solid 12px;
	border-right: transparent solid 12px;
	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}
.contact .directions-bubble.error:before {
	border-bottom-color: #ff0000;
}

.contact .directions-bubble fieldset {
	float: left;
	border: 0;
}

.contact .directions-input {
	float: left;
	width: 100%;
	margin: 0;
	padding: 14px 72px 16px 14px;
	color: #fff;
	font-family: "apercu_regular";
	font-size: 0.875rem;
	text-align: left;
	background: transparent;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.contact .submit-button {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 14px 17px 16px 17px;
	color: #fff;
	font-family: "apercu_black";
	font-weight: 400;
	border: 0;
	border-radius: 4px;
	background: #0965da;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-transition: background 0.2s linear;
	transition: background 0.2s linear;
}
.contact .submit-button:hover {
	background: #055fd2;
}
.contact .error .submit-button {
	background: #d20202;
	cursor: default;
}

*::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.7;
}
*:-moz-placeholder {
	color: #fff;
	opacity: 0.7;
}
*::-moz-placeholder {
	color: #fff;
	opacity: 0.7;
}
*:-ms-input-placeholder {
	color: #fff;
	opacity: 0.7;
}

@media (max-width: 700px) {
	.contact .map,
	.contact .directions {

		display: block;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.contact .map {
		position: relative;
		height: 260px;
	}
}

@media (max-width: 500px),
(max-height: 400px) {
	.contact .starting-points li:before {
		top: 3px;
	}
	.contact .starting-points li:after {
		top: 14px;
	}

	.contact .starting-points li.get-directions:before,
	.contact .starting-points li.get-directions a:before {
		top: 9px;
	}
	.contact .starting-points li.get-directions:after,
	.contact .starting-points li.get-directions a:after {
		top: 17px;
	}

	.contact .directions {
		font-size: 1rem;
		line-height: 1.875em;
		letter-spacing: 0.04em;
	}

	.contact .directions .title {
		font-size: 1.563rem;
		padding-bottom: 5px;
	}

	.contact .address {
		padding-bottom: 20px;
	}

	.contact .starting-points {
		padding-top: 10px;
	}

	.contact .starting-points li {
		padding-bottom: 7px;
	}
}

@media (max-width: 400px),
(max-height: 400px) {
	.contact .directions {
		padding: 30px 20px 42px 20px;
	}
}