		<footer class="site-section site-footer js-footer {{ page.footer_class }}">
			<div class="section-content">
				<h2 class="section-title">Snowbeat</h2>
				<ul class="contact-options">
					<li><a href="https://uk.linkedin.com/in/christopherbews" target="_blank">LinkedIn</a></li>
					<li><a href="mailto:chris@snowbeat.uk" target="_blank">Email</a></li>
					<li><a href="https://github.com/ChrisBews" target="_blank">Github</a></li>
					<li><a href="https://twitter.com/Koshiro" target="_blank">Twitter</a></li>
				</ul>
				<p class="section-subtitle">&copy; Christopher Bews 2018</p>
			</div>
		</footer>

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-77186081-1', 'auto');
			ga('send', 'pageview');
		</script>

		<script src="/assets/compiled/snowbeat.js"></script>
		<!--
		<script src="/assets/js/nation/Utils.js"></script>
		<script src="/assets/js/nation/EventDispatcher.js"></script>
		<script src="/assets/js/nation/Animation.js"></script>


		<script src="/assets/js/snowbeat/models/Events.js"></script>
		<script src="/assets/js/snowbeat/models/Settings.js"></script>
		<script src="/assets/js/snowbeat/models/HistoryManager.js"></script>

		<script src="/assets/js/snowbeat/views/home/PageSection.js"></script>
		<script src="/assets/js/snowbeat/views/home/BlogSection.js"></script>

		<script src="/assets/js/snowbeat/views/BaseView.js"></script>
		<script src="/assets/js/snowbeat/views/FooterView.js"></script>
		<script src="/assets/js/snowbeat/views/HeaderView.js"></script>
		<script src="/assets/js/snowbeat/views/HomeView.js"></script>
		<script src="/assets/js/snowbeat/Application.js"></script>-->