	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="theme-color" content="#2a2a2a" />
		<meta property="og:title" content="Snowbeat" />
		<meta name="twitter:title" content="Snowbeat" />
		<meta name="description" content="Snowbeat is the folio site of Christopher Bews" />
		<meta name="og:description" content="Snowbeat is the folio site of Christopher Bews" />
		<meta name="twitter:description" content="Snowbeat is the folio site of Christopher Bews" />
		<meta name="twitter:card" content="summary_large_image"/>
		<meta property="og:image" content="http://snowbeat.uk/assets/images/card.gif" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta name="twitter:image" content="http://snowbeat.uk/assets/images/twitter-card.gif" />
		<meta property="og:type" content="website" />
		<meta content="http://snowbeat.uk/assets/images/windows-tile-310.png" name="msapplication-square310x310logo"/>
		<meta content="http://snowbeat.uk/assets/images/windows-tile-150.png" name="msapplication-square150x150logo"/>
		<meta content="http://snowbeat.uk/assets/images/windows-tile-144.png" name="msapplication-TileImage"/>
		<meta content="http://snowbeat.uk/assets/images/windows-tile-70.png" name="msapplication-square70x70logo"/>
		<meta content="#2a2a2a" name="msapplication-TileColor"/>

		<!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]-->
		<link rel="icon" href="/favicon.png">
		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<link rel="stylesheet" href="/assets/compiled/snowbeat.css" media="all" />
		<!--<link rel="stylesheet" href="/assets/css/global.css" media="all" />-->
		<!--[if lte IE 9]>
			<script src="/assets/js/libs/history.js"></script>
		<![endif]-->
	</head>